@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;
  
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
  
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
  
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
  
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
  
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
  
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;
  
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
  
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
  
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
  
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;
  
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
  
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
  
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
  
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
  
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
}

:root{
    --color-131921 :#131921;
    --color-3b4149 :#3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-f5f5f7: #f5f5f7;
    --color-edededed: #edededed;
    --color-777777: #777777;
    --color-bf4800: #bf4800;
    
}

/* header part  */
.header-top-strip {
    border-bottom: 1px solid var(--color-3b4149);
    background: var(--color-131921);
}
.header-upper {
    background: var(--color-131921);
    border-bottom: 1px solid var(--color-3b4149);
}
.header-upper{
  position: sticky;
  top: 0;
  z-index: 1000;
}

.input-group-text {
  background: var(--color-febd69);
}

.header-upper-links img{
  width: 35px;
  height: 35px;
}

.header-bottom {
  background: var(--color-232f3e );
}


.header-bottom .menu-links {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: .3s;
  text-transform: uppercase;
}


.dropdown button{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: .3s;
  text-transform: uppercase;
 background: var(--color-232f3e );
 border-right: 2px solid #3b4149;
}
.dropdown button:hover{
 background: var(--color-232f3e );
}

/* header end  */


/* footer start  */


footer {
  background: var(--color-131921);
  color: #fff;
}


footer:not(:first-child) {
  border-top: 1px solid rgba(255,255,255,0.1);
}
.input-btn {
  background: var(--color-232f3e);
}
/* footer end  */


/* home section start  */
/* Home wrapper 1 start */
.Home-wrapper-1 .main-btn {
  position: relative;
  transition: padding 0.3s ease;
}
.Home-wrapper-1 .main-btn:hover {
  padding-right: 32px; /* Add space between text and arrow */
}
.Home-wrapper-1 .arrow-icon {
  position: absolute;
  top: 50%;
  right:10px; /* Adjust as needed */
  transform: translateY(-50%);
  display: none;
  width: 16px; /* Adjust size as needed */
  height: auto;
}

.Home-wrapper-1 .main-btn:hover .arrow-icon {
  display: inline-block;
}

/* If you want to change the size of the button on hover */
.Home-wrapper-1 .main-btn:hover {
  transform: scale(1.05); /* Adjust scale as needed */
}

/* Add transitions for smooth animation */
.Home-wrapper-1 .main-btn,
.main-btn .arrow-icon {
  transition: all 0.3s ease;
}
/* Home wrapper 1 end */


/* Homw wrpper 2 start */
.Home-wrapper-2 {
  background: var(--color-f5f5f7);
}
/* Homw wrpper 2 end */

/* categories section start  */

.categories {
  background: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
  border-radius: 12px;
}

.categories > div {
  width: 20%;
  padding: 0px 10px;
}
.categories > div>div{
  width: 70%;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4), 
.categories > div:nth-child(5) {
  border-bottom: 1.5px solid var(--color-edededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-right: 1.5px solid var(--color-edededed);
}
.categories > div:nth-child(6),
.categories > div:nth-child(7),
.categories > div:nth-child(8),
.categories > div:nth-child(9) {
  border-right: 1.5px solid var(--color-edededed);
}
/* categories section end  */

/* marquee wrpper start */
.marquee-inner-wrpper{
  background: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
  border-radius: 12px;
}
.marquee-wrapper {
  background: var(--color-f5f5f7);
}
/* marquee wrpper end */

/* home section end */

/* blog part start  */

.section-heading {
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.blog-wrapper {
  background: var(--color-f5f5f7);
}
.blog-card {
  background: white; 
  border-radius: 12px;
}
.blog-card img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.blog-content {
  padding: 15px;
}

.blog-content .main-btn {
  position: relative;
  transition: padding 0.3s ease;
}
.blog-content .main-btn:hover {
  padding-right: 32px; /* Add space between text and arrow */
}
.blog-content .arrow-icon {
  position: absolute;
  top: 50%;
  right:10px; /* Adjust as needed */
  transform: translateY(-50%);
  display: none;
  width: 16px; /* Adjust size as needed */
  height: auto;
}

.blog-content .main-btn:hover .arrow-icon {
  display: inline-block;
}

.blog-content .date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}
.blog-content .title {
  font-size: 18px;
  color: var(--color-131921);
  font-weight: 600;
}
.blog-content .desc {
  font-size: 13px;
  line-height: 20px;
  color: var(--color-777777);
}
.single-blog-card{
  
}
/* blog part end  */

/* Product card start  */
    .product-card {
      padding: 15px;
      background: white;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
      border-radius: 8px;
      overflow: hidden;
    }
    
    .product-card:hover .action-bar{
      right:10px;
      transition: all 0.3s;
    } 
    .product-detailes h5 {
        color: var(--color-bf4800); 
        font-size: 13px;
    }

    .product-card .wishlist-icon {
      right: 10px;
    }

    .product-card .product-image>img:last-child{
      display: none;
    }
    .product-card:hover .product-image> img:first-child {
      display: none;
    }
    .product-card:hover .product-image> img:last-child {
      display: block;
      transition: .3s;
    }

   
    .product-card .product-image img {
      object-fit: contain;
    }
    .custom-stars .react-stars {
      font-size: 20px; /* Adjust the size as needed */
  }
  
/* Product card end  */


/* specail product start  */

.specail-product-card{
  padding: 10px;
  border-radius: 8px;
  background: white;
}

/* specail product end  */

/* famous product start  */

.famous-card .famous-content{
  top: 8%;
  left: 10%;
}


/* famous product end  */

.filter-card{
  background: #fff;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-card .custom-checkbox:checked {
  background-color:var(--color-febd69);
}

.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #bf4800;
}
.colors li:hover{
  opacity: 0.9;
}
/* Our Store open here  */
 /* product grid icons open */
.grid-1 { 
  grid-template-columns: repeat(1, 1fr); 
  width: 100%;
}
.grid-1 .product-card .product-image {
  width: 200px;
}
.grid-1 .product-card .product-detailes {
  padding: 20px 0;
}
.grid-1 .product-card .wishlist-icon {
  right: 30px;
}
.grid-1 .product-card .icons {
  margin-top: 25px;
}
.grid-1 .product-card:hover .action-bar{
  right: 29px;
  transition: all 0.3s;
} 

.grid-2 { 
  grid-template-columns: repeat(2, 1fr); 
  width: 100%;
  margin: auto;
  gap: 20px;
}
.grid-2 .product-card .product-image {
  width: 70%;
  height: auto;
  margin: auto;
}
.grid-2 .product-card .product-image img {
  width: 100%;
  height: auto;
}

.grid-3 { 
  grid-template-columns: repeat(3, 1fr); 
  width: 100%;
  margin: auto;
  gap: 22px;
}
.grid-4 { 
  grid-template-columns: repeat(4, 1fr); 
}
.grid-1 .product-card {
  display: flex;
  gap: 20px;
}
 /* product grid icons close */
/* Our Store end here  */
/* Compare-Product-wrapper  open here  */
.compare-product-card{
  padding: 20px 15px;
  border-radius: 8px;
  background: white;
}
.color-compare {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.color-compare li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #bf4800;
  
}
.color-compare li:hover{
  opacity: 0.9;
}
.color-compare li:nth-child(1){
  background-color: #febd69;
}
.color-compare li:nth-child(2){
  background-color:#232f3e;
}


/* Compare-Product-wrapper  end here  */


